<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
<ul class="users list-group list-group-flush">
  <%= render @users %>
</ul>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
