<% if object.errors.any? %>
  <div class="alert alert-danger">
    <%= t ".message" %>
    <%= pluralize object.errors.count, t(".error") %>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
